
      body {
        margin: 0;
        padding: 0;
      }

      html,body,#map {
        width: 100%;
        height: 100vh;
      }
      h1 {
        color:black;
        font-family: verdana;
        font-size: 100%;
      }
      .info {  
        position: absolute;
        bottom: 5px;
        left: 5px;
        z-index: 400;
        padding: 5px;
        width: 20%;
        font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif;
        font-size: 8pt;
         background-color: rgba(255, 255, 255, 0.5); 
      
        box-shadow: 0 1px 5px rgba(0,0,0,0.65);
        border-radius: 4px;
      }